body {
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background: rgb(16, 16, 46);
  background: linear-gradient(
    90deg,
    rgba(16, 16, 46, 1) 78%,
    rgba(23, 41, 94, 1) 100%
  );
}

.playerTurn {
  color: red;
}

.topbar {
  border-spacing: 0;

  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: green;
  position: fixed; /* Set the navbar to fixed position */
  bottom: 0; /* Position the navbar at the top of the page */
  width: 100%;
}
